export(appendffdf)
export(applyffdfsplit)
export(asDate)
export(cbindffdf)
export(changedanishletters)
export(ffdfsplit)
export(fill.data.frame)
export(fill.data.frame.all.same)
export(fill.vec)
export(fill.vec.all.same)
export(fumerge)
export(indexffdf)
export(indexffdfsplit)
export(isorderedbyrowcol)
export(lagpad)
export(mergeby)
export(qn)
export(quotenames)
export(redirffdf)
export(redirffdfffdfsave)
export(saveffdf)
export(splitapplycpp)
export(subsetffdf)
export(txt.perc)
